<div class="row">
  {{#each projects as |project|}}
  <div class="col-md-4 project-card">
    {{#isOwner ../LOGGEDIN_USER project.user}}
    <div class="panel panel-primary">
    {{ else }}
    <div class="panel panel-default">
    {{/isOwner}}
      <div class="panel-heading">
        <h3 class="panel-title">
          {{ project.name }}
        </h3>
      </div>
      <div class="panel-body">
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>

        <form method="POST" action="/projects/{{ project._id }}?_method=delete">
          <a href="{{project.github}}" class="btn btn-primary" role="button">Github</a>
          <a href="{{project.public}}" class="btn btn-info" role="button">View</a>
          {{#isOwner ../LOGGEDIN_USER project.user}}
          <button class="btn btn-danger">Delete</button>
          {{/isOwner}}
        </form>
      </div>
      <div class="panel-footer">
        <small>
          created by:
          <a href="{{ ownerGithub project.github }}" target="_blank">
            {{ project.user.name }}
          </a>
        </small>
      </div>
    </div>
  </div>
  {{/each}}
</div>
