<div class="row">
  {{#each projects as |project|}}
  <div class="col-md-4 project-card">
    {{#isOwner ../LOGGEDIN_USER project.user}}
    <div class="panel panel-primary">
    {{ else }}
    <div class="panel panel-default">
    {{/isOwner}}
      <div class="panel-heading">
        <h3 class="panel-title">
          {{ project.name }}

          {{#each project.likedBy as |likedBy|}}
            'liked by' {{ likedBy }}

            {{#ifEqual likedBy "Shimei" }}
              <i class="fa fa-thumbs-up pull-right" id="thumbs-up-{{project.id}}" aria-hidden="true"></i>
            {{else}}
              <form class="like pull-right" action="#" method="post">
                <input type="hidden" name="project" value="{{ project.slug }}">
                <input type="hidden" name="projectId" value="{{ project.id }}">
                <input type="hidden" name="likedBy" value="{{ ../LOGGEDIN_USER.name }}">
                <button class="astext" type="submit">
                  <i class="fa fa-thumbs-o-up pull-right" id="thumbs-o-up-{{project.id}}" aria-hidden="true"></i>
                </button>
              </form>
            {{/ifEqual}}
          {{/each}}
        </h3>
      </div>
      <div class="panel-body">
        <a href="/projects/{{ project.slug }}" class="thumbnail">
          <img src="{{ project.cover }}" alt="{{ project.name }}" width="100%">
        </a>
        <div class="btn-group btn-group-justified" role="group" aria-label="project button groups">
          <a href="{{project.github}}" class="btn btn-github" role="button">
            <i class="fa fa-github-alt"></i> Github
          </a>
          <a href="/projects/{{ project.slug }}" class="btn btn-github" role="button">
            <i class="fa fa-eye"></i> Detail
          </a>
          <a href="/{{project.public}}" class="btn btn-github" role="button">
            <i class="fa fa-play"></i> View
          </a>
        </div>

        {{#isOwner ../LOGGEDIN_USER project.user}}
        <div class="help-block">
          <form method="POST" action="/projects/{{ project._id }}?_method=delete">
            <a href="/projects/{{ project.slug }}/edit" class="btn btn-info btn-block">
              <i class="fa fa-eraser"></i> Edit
            </a>
            <button class="btn btn-block btn-danger">
              <i class="fa fa-trash"></i> Delete
            </button>
          </form>
        </div>
        {{/isOwner}}
      </div>
      <div class="panel-footer">
        <small>
          developed by
          {{#each project.user as |user|}}
          <a href="{{ ownerGithub project.github }}" target="_blank">
            {{ user.name }}
          </a>
          {{/each}}
        </small>
      </div>
    </div>
  </div>
  {{/each}}
</div>
